.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}
.welcome-card{
  /*background-image: url('https://gstatic.com/classroom/themes/img_code.jpg');
  background-size: cover;
  text-align: left;
  background-repeat: no-repeat;
  margin-bottom: 15px;*/
}
