<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-icon routerLink="/subject" class="font-md" name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <ion-title>Convalidaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--students list-->
    <ion-list-header>
        Estudiantes convalidantes
    </ion-list-header>
    <ion-searchbar animated placeholder="Buscar alumno"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let student of students">
            <ion-avatar slot="start">
                <img [src]="student.avatar" alt="">
            </ion-avatar>
            <ion-label>
                <h3>{{student.matricula}} - {{student.nombre}} {{student.apellido}}</h3>
                <p>{{student.status}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <!--navigation-->
    <ion-tabs style="position:fixed;">
        <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/students/actives">
                <ion-icon name="contacts"></ion-icon>
                <ion-label>Inscritos</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/students/proceso">
                <ion-icon name="contacts"></ion-icon>
                <ion-label>Proceso</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/students/convalidacion">
                <ion-icon color="danger" name="contacts"></ion-icon>
                <ion-label color="danger">Convalidación</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/students/add-student">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>Nuevo</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>